@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.navbar-brand,
.nav-link {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}
.navbar-black {
  background-color: #000 !important;
  border: 3px solid rgb(0, 0, 0);
}